@media only screen and (min-width : 800px) {

	.header {
		border-bottom: 1px solid black;
		display: flex;
		line-height: 50px;
		padding: 0 30px;
	}

	.developer,
	.navigation,
	.navigation.toggled,
	.navigation > ul,
	.navlet,
	.navlet:hover,
	.navlet > a {
		border: none;
		display: inline-block;
	}

	.hamburger {
		display: none;
	}

	.navigation,
	.navigation.toggled {
		flex: 1;
		position: unset;
		text-align: right;
		transform: translateY(0);
		transition: transform 0s;
	}


	.navlet > a {
		box-sizing: border-box;
		padding: 0 10px;
	}

}
