@media only screen and (min-width : 800px) {

	.header {
		display: flex;
		padding: 0 30px;
	}

	.developer,
	.navigation,
	.navigation.toggled,
	.navigation > ul,
	.navlet,
	.navlet:hover,
	.navlet > a {
		background: transparent;
		display: inline-block;
	}

	.developer {
		border: none;
	}

	.hamburger {
		display: none;
	}

	.navigation,
	.navigation.toggled {
		margin-top: 0px;
		flex: 1;
		position: unset;
		text-align: right;
		transform: translateY(0);
		transition: transform 0s;
	}

	.navlet:hover {
		border-bottom-color: #ff5252;
		border-left-color: transparent;
		border-top-color: transparent;
	}

	.navlet > a {
		box-sizing: border-box;
		padding: 0 10px;
	}

}
