@media only screen and (min-width : 800px) {

	.header {
		display: flex;
		line-height: 50px;
		padding: 0 30px;
		border-bottom: 1px solid black;
	}

	.developer {
		border-bottom: 0px solid black;
	}

	.navigation {
		display: inline-block;
		flex: 1;
		text-align: right;
		border-bottom: 0px solid black;
	}

	.navigation > ul {
		display: inline-block;
	}

	.navlet {
		display: inline-block;
	}

	.navlet:not(:last-child),
	.navlet:not(:last-child):hover {
		border-right: 0px solid black;
	}

	.navlet > a {
		display: inline-block;
		padding: 0 10px;
		width: auto;
	}

}
