@media only screen and (min-width : 400px) {

	.header {
		line-height: 50px;
	}

	.navigation {
		height: auto;
	}

	.navigation > ul {
		display: flex;
	}

	.navlet {
		flex: 1;
	}

	.navlet:hover {
		color: #ff5252;
		border-right-width: 0;
	}

	.navlet, .navlet:hover {
		border-left: 1px solid black;
		border-right: none;
	}

}
