@media only screen and (min-width : 400px) {

	.header {
		line-height: 50px;
	}

	.navigation {
		height: auto;
	}

	.navigation > ul {
		display: flex;
	}

	.navlet {
		flex: 1;
	}

	.navlet:hover {
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-top-color: #ff5252;
	}

}
