html, body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

.header {
	background: rgba(255, 255, 255, 0.97);
	border-bottom: 1px solid #ccc;
	left: 0;
	line-height: 80px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

.hamburger,
.developer i,
.developer span {
	vertical-align: middle;
}

.developer {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 4px;
	line-height: inherit;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	z-index: 100;
}

.hamburger {
	position: absolute;
	right: 10px;
	transition: transform 0.5s, color 0.5s;
}

.hamburger.toggled {
	color: #ff5252;
	transform: rotate(-90deg);
	transition: transform 0.5s, color 0.5s;
}

.navigation {
	background: rgba(248, 248, 248, 0.97);
	display: block;
	margin-top: 1px;
	height: 100vh;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	transform: translate(100vw);
	transition: transform 0.5s;
	z-index: 50;
}

.navigation.toggled {
	transform: translateY(0);
	transition: transform 0.5s;
}

.navlet {
	border: 3px solid transparent;
	z-index: inherit;
	transition: color 0.2s, border 0.2s;
}

.navlet:hover {
	color: #ff5252;
	border-left-color: #ff5252;
	transition: color 0.2s, border 0.2s;
}

.navlet > a {
	color: inherit;
	display: inline-block;
	line-height: inherit;
	outline: 0;
	text-decoration: none;
	width: 100%;
}

.footer {
	color: #777;
	font-size: 0.8em;
	line-height: 50px;
	padding: 0 30px;
}

.fuel {
	float: right;
	line-height: inherit;
	transition: color 0.7s, transform 2s;
}

.fuel:hover {
	color: #ff5252;
	transform: rotate(-60deg);
	transition: color 0.7s, transform 2s;
}
